<div class="col-md-6 offset-md-3"> 
<h3>Create user</h3>
<form (ngSubmit) = "onSubmit()">

    <div class="form-group">
        <label aria-required="true">first_name</label>
        <input type="text" class="form-control" id="first_name"
        [(ngModel)] ="user.first_name" name="first_name" required>
    </div>

    <div class="form-group">
        <label>last_name</label>
        <input type="text" class="form-control" id="last_name"
        [(ngModel)] ="user.last_name" name="last_name" required>
    </div>

    <div class="form-group">
        <label>current_address</label>
        <input type="text" class="form-control" id="current_address"
        [(ngModel)] ="user.current_address" name="current_address" required>
    </div>

    <div class="form-group">
        <label>permanent_address</label>
        <input type="text" class="form-control" id="permanent_address"
        [(ngModel)] ="user.permanent_address" name="permanent_address" required>
    </div>

    <button class="btn btn-success" type="submit">submit</button>
</form>
</div>
