
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ul class="navbar-nav">
<li  class="nav-item">
    <!-- <asl-google-signin-button *ngIf="!user"></asl-google-signin-button>

    <div *ngIf="user">
    </div> -->
<a routerLink="users" routerLinkActive="active" class="nav-link">User-list</a> 
<button (click)="login()">login</button>
 <button (click)="logout()">logout</button>
<a routerLink="users" routerLinkActive="active" class="nav-link">
    <mat-icon>home</mat-icon></a>
</li>


<li  class="nav-item">
    <a routerLink="create-user" routerLinkActive="active" class="nav-link">
        <mat-icon>plus_one</mat-icon></a>    
    </li>
</ul>

</nav>


<h1 class="text-center"> {{title}} </h1>
<div class="container">
    
    <router-outlet ngIf="token"></router-outlet>
</div>
<!-- <footer class="footer">
    <div class="container">
<span>All Rights Reserved 2020 @Java</span>
    </div>

</footer> -->